.pin-fill-wrapper {
    height: 52px;
    position: relative;
    width: 48px;
  }
  
  .pin-fill-wrapper .img {
    height: 35px;
    left: 10px;
    position: absolute;
    top: 9px;
    width: 28px;
  }  